src/wsdl/aplicgestao4.saude.rj.gov.br/UPAServicesRetornoLabHML/WebService/RepassarResultadoService.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RepassarResultado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoUnidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoRequisicao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoStatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mnemonico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="observacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroAmostra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="urlResultado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RepassarResultadoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RepassarResultadoSoapIn">
    <wsdl:part name="parameters" element="tns:RepassarResultado" />
  </wsdl:message>
  <wsdl:message name="RepassarResultadoSoapOut">
    <wsdl:part name="parameters" element="tns:RepassarResultadoResponse" />
  </wsdl:message>
  <wsdl:portType name="RepassarResultadoServiceSoap">
    <wsdl:operation name="RepassarResultado">
      <wsdl:input message="tns:RepassarResultadoSoapIn" />
      <wsdl:output message="tns:RepassarResultadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RepassarResultadoServiceSoap" type="tns:RepassarResultadoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RepassarResultado">
      <soap:operation soapAction="http://tempuri.org/RepassarResultado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RepassarResultadoServiceSoap12" type="tns:RepassarResultadoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RepassarResultado">
      <soap12:operation soapAction="http://tempuri.org/RepassarResultado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RepassarResultadoService">
    <wsdl:port name="RepassarResultadoServiceSoap" binding="tns:RepassarResultadoServiceSoap">
      <soap:address location="http://aplicgestao4.saude.rj.gov.br/UPAServicesRetornoLabHML/WebService/RepassarResultadoService.asmx" />
    </wsdl:port>
    <wsdl:port name="RepassarResultadoServiceSoap12" binding="tns:RepassarResultadoServiceSoap12">
      <soap12:address location="http://aplicgestao4.saude.rj.gov.br/UPAServicesRetornoLabHML/WebService/RepassarResultadoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>